name: Windows Build

on:
  push:
    branches:
      - main
  release:
    types: [created]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
        
    - name: Build with PyInstaller
      run: |
        pyinstaller charmed.spec
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Charmed-Windows-Exe
        path: dist/
